@import url('https://fonts.googleapis.com/css?family=Asap|Rubik');

.add-button, .form-button, .edit-button {
  height: 4em;
  width: 10em;
  margin-top: 3em;
  background-color: #5C9EAD;
  cursor: pointer;
}

.add-button:hover, .form-button:hover, .edit-button:hover {
  background-color: #E52C20;
}

.edit-button {
  margin-left: 5%;
}

.item-list {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;

  -webkit-animation: fadein 1s;
}

.individual-item{
  background-color: #E2D4B7;
  margin-top: .8em;
  padding: .5em;
  width: 80%;
}

.individual-item-link {
  text-decoration: none;
  color: #000;
}

.single-page {
  -webkit-animation: fadein 1s;
}

.single-page-item, .single-page-label {
  margin-left: 5%;
}

.single-page-label {
  font-weight: bold;
}

.form {
  text-align: center;
  margin-top: 3em;

  -webkit-animation: fadein 1s;
}

.form-input {
  height: 3em;
  width: 18em;
  margin-top: .5em;
  font-size: .8em;
  padding-left: 1em;
  background-color: #E2D4B7;
  border: none;
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

@-webkit-keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}


